@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ComputerFont";
  src: url("./Computerfont.ttf") format("truetype");
}

@font-face {
  font-family: "monocode";
  src: url("./monocode.ttf") format("truetype");
}

:root {
  --color-background: #1b1b1b; /* Replace with the background color from your theme */
  --color-text: #a2ff00; /* Replace with the text color from your theme */
  --color-outline: #00ff00; /* Replace with the outline color from your theme */
}

html {
  font-family: "ComputerFont", sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}

h2 {
  color: #a2ff00;
}

p {
  color: #6efa6e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.bg-theme-background {
  background-color: var(--color-background);
}

.text-theme-text {
  color: var(--color-text);
}

.border-theme-outline {
  border-color: var(--color-outline);
}

.circle-animation {
  animation: circleReveal 3s ease forwards;
}

@keyframes circleReveal {
  from {
    clip-path: circle(0% at 50% 50%);
  }
  to {
    clip-path: circle(150% at 50% 50%);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Custom CSS */
.custom-datetime-input
  input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  filter: brightness(0) invert(1); /* Example: Invert the color */
}

/* If you want to use a specific color, you can define it in your CSS */
.custom-datetime-input
  input[type="datetime-local"]:focus::-webkit-calendar-picker-indicator {
  background-color: rgb(
    8,
    217,
    57
  ); /* Replace #yourColor with the actual color code */
  z-index: 0;
}

/* Hide the original file input */
.hidden-input {
  display: none;
}

/* Style for the custom file input */
.custom-file-input {
  display: inline-block;
  background-color: #1b3635; /* Your desired background color */
  color: #a2ff00; /* Text color */
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
